@charset "UTF-8";

/*
Theme Name: wpresidence
Template: wpresidence
Author: WP Estate
Version: 1.0
Updated: 2015-01-25 18:19:31
*/


/* =Theme customization starts here
-------------------------------------------------------------- */

body{padding-top:122px;}
.adv-search-2{top:110px;bottom:initial;}
#adv-search-2 .col-md-8.adv2_nopadding .col-md-4 .dropdown {
    /* display: none; */
}
.transparent-wrapper, #search_wrapper, .adv-search-1.adv-search-2{
	width:550px;
}
.logo img{max-height:84px;}